body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 50px;
}

#login-form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 0px 42px 11px rgba(0,0,0,0.59);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.form-link {
    text-align: center;
    margin-top: 20px;
}

.form-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.form-link a:hover {
    background-color: #0069d9;
}